### Задача 1
Начнём с простого: сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [3]:
age = 33
name = "Vasilisa"

In [5]:
age, name

(33, 'Vasilisa')

### Задача 2
Создайте список user_info, содержащий 4 элемента:

2 строки (имя и фамилия пользователя)
1 дробное число (зарплата)
1 целое число (стаж)

In [1]:
user_info = ['Egor', 'Ivanov', 150.3, 10]

In [2]:
user_info

['Egor', 'Ivanov', 150.3, 10]

### Задача 3
Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries. Сам список создавать не нужно, он уже находится в переменной salaries.

In [8]:
salaries = [42, 100, 70, 80]
first = salaries[0]

In [9]:
first

42

### Задача 4
Добавьте в уже созданный список users элементы 'Voronov' и 42.

Сам список создавать не нужно, он уже находится в переменной users.

In [10]:
users = [32.5, 'privet', 12, 888]
users.append('Voronov')
users.append(42)

In [11]:
users

[32.5, 'privet', 12, 888, 'Voronov', 42]

### Задача 5
В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

In [12]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for age in user_ages:
    if age > 18:
        print(age)

21
35
42
27

### Задача 6
Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку: user_name user_family is position, где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

'junior' — стаж меньше 2 лет
'middle' — стаж больше либо равен 2 лет
'senior' — стаж больше 5 лет

In [38]:
# 'junior' — стаж меньше 2 лет
# 'middle' — стаж больше либо равен 2 лет
# 'senior' — стаж больше 5 лет

worker = ['Egor', 'Ivanov', 150.3, 3]

if worker[3] < 2:
    position = 'junior'
elif worker[3] >= 2 and worker[3] <= 5:
    position = 'middle'
else:
    position = 'senior'
    
status = f"{worker[0]} {worker[1]} is {position}"

In [39]:
status

'Egor Ivanov is middle'

### Задача 7
 В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

Пример данных, которые могут быть в values:

values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [42]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

tens = []

for i in values:
    if i % 10 == 0:
        tens.append(i)
        print(i)

10
100
20
50
160
210

### Задача 8
⭐️Задание со звёздочкой!⭐️

Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

user_name user_family is position
где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

'junior' — стаж меньше 2 лет
'middle' — стаж больше либо равен 2
'senior' — стаж строго больше 5 лет 
Пример данных, которые могут быть в workers:

workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [48]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 6]]


for worker in workers:
    if worker[3] < 2:
        position = 'junior'
        print(f"{worker[0]} {worker[1]} is {position}")
    elif worker[3] >= 2 and worker[3] <= 5:
        position = 'middle'
        print(f"{worker[0]} {worker[1]} is {position}")
    else:
        position = 'senior'
        print(f"{worker[0]} {worker[1]} is {position}")

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior

### Задача 9
⭐️ Задание со звёздочкой! ⭐️

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

In [4]:
lst = []

n = 0
N = 10
dn = 2

while True:
    for i in range(n, N + 1, dn):
        lst.append(i)
    print(lst)
    break

[0, 2, 4, 6, 8, 10]

### Задача 10
На предыдущих шагах вы сталкивались с различными характеристиками пользователей, которые были сохранены в списках. Теперь попробуем собрать нужную информацию в словарь!

Начнем с небольшого, где:

ключом будет название характеристики, а
значением – её значение.
В словарь поместите следующую информацию:

характеристика	значение
- name	Masha
- surname	Volkova
- age	25
- salary	60000
- position	junior
Результат сохраните в переменную salaries_dict.

In [15]:
salaries_dict = {
                'name': 'Masha', 
                'surname': 'Volkova', 
                'age': 25, 
                'salary': 60000, 
                'position': 'junior'
}

In [23]:
salaries_dict.keys()

dict_keys(['name', 'surname', 'age', 'salary', 'position'])

In [24]:
salaries_dict.values()

dict_values(['Masha', 'Volkova', 25, 60000, 'junior'])

### Задача 11
Теперь усложним задачу. Создайте словарь, где:

Ключом будет логин пользователя (login)
В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя
login	name	surname	age	salary	position
mvolkova	Masha	Volkova	25	60000	junior
pvoronov	Peter	Voronov	27	100000	junior
pparker	Peter	Parker	35	150000	middle
akarpov	Anatoly	Karpov	30	250000	senior
Таким образом, по ключу мы сможем получить всю информацию о нужном пользователе. Обратиться к такому элементу можно, например, с помощью: users_dict['mvolkova']['name'], где в первых скобках указывается логин (первый ключ), а во вторых – название характеристики, значение которой мы хотим получить.

Пример итоговой структуры:

{ 'masha_volkova' : {'name' : 'Masha', ...}, 'peter_voronov' : {'name' : 'Peter', ...}, ... }
Результат запишите в переменную users_dict.

In [40]:
# mvolkova	Masha	Volkova	25	60000	junior
# pvoronov	Peter	Voronov	27	100000	junior
# pparker	Peter	Parker	35	150000	middle
# akarpov	Anatoly	Karpov	30	250000	senior
# { 'masha_volkova' : {'name' : 'Masha', ...}, 'peter_voronov' : {'name' : 'Peter', ...}, ... }

users_dict = {
            'mvolkova': {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}, 
            'pvoronov': {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'},
            'pparker' : {'name': 'Peter', 'surname': 'Parker', 'age': 35,'salary': 150000, 'position': 'middle'}, 
            'akarpov' : {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30,'salary': 250000, 'position': 'senior'}
}

In [37]:
users_dict.keys()

dict_keys(['mvolkova', 'pvoronov', 'pparker', 'akarpov'])

In [38]:
users_dict.values()

dict_values([{'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}, {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'}, {'name': 'Parker', 'surname': 'Parker', 'age': 35, 'salary': 150000, 'position': 'middle'}, {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250000, 'position': 'senior'}])